
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;

}

.table {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}


img {
    padding-top: 100px;
}

#heart {
    cursor: pointer;
}

.active:hover {
    color: skyblue;
}
